.box{
    font-weight: bold;
    border-radius: 20px;
    background-color: #03043a;
    padding: 25px;
    align-items: center;
    justify-content: center;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: solid rgb(54, 9, 255);
    color: white;
    }