.box{
    font-weight: bold;
    border-radius: 20px;
    background-color: #b4b2b2;
    padding: 25px;
    align-items: center;
    justify-content: center;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    text-align: center;
    }